

<p>add-player works!</p>
<h1>Adding Player</h1>

<hr>
<form (ngSubmit) = "saveData(playerdata)" #playerform ="ngForm">
    <div>
        <label for = "teamId"> team Id </label>
        <input type ="text" id ="teamId" name = "teamId" placeholder = "Enter teamId" [(ngModel)] = "playerdata.TeamId"
        required #TeamId = "ngModel">
    </div>
 

    <div>
        <label for = "name"> player name </label>
        <input type ="text" id ="name" name = "name" placeholder = "Enter player name" [(ngModel)] = "playerdata.Name"
        required #name = "ngModel">
    </div>

    <div>
        <label for = "age"> player age </label>
        <input type ="text" id ="age" name = "age" placeholder = "Enter age" [(ngModel)] = "playerdata.Age"
        required #age = "ngModel">
    </div>

    
    <div>
        <label for = "category"> player category </label>
        <input type ="text" id ="category" name = "category" placeholder = "Enter category" [(ngModel)] = "playerdata.Category"
        required #Category = "ngModel">
    </div>
    
    <div>
        <label for = "biddingPrice"> Bidding price</label>
        <input type ="text" id ="biddingPrice" name = "biddingPrice" placeholder = "Enter biddingPrice" [(ngModel)] = "playerdata.BiddingPrice"
        required #BiddingPrice = "ngModel">
    </div>

   
    <br>
    <br>
    <p>
        <input type = "submit" value = "save" class = "btn btn-Success" [disabled] = "!playerform.valid">
    </p>


</form>




