<p>player works!</p>


<h1> Player data </h1>
<div class = "container">
    <div class = "jumbotron">
        <table class = "table">
            <thead >
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Category</th>
                <th>BiddingPrice</th>
            </thead>
            <tbody>
                <tr *ngFor="let p of playerdata">
                    <td>{{p.id}}</td>
                    <td>{{p.name}}</td>
                    <td>{{p.age}}</td>
                    <td>{{p.category}}</td>
                    <td>{{p.biddingPrice}}</td>
                    <!-- <td>
                        <a [routerLink] = "['/show/',p.id]"> Details of All Players</a>
                    </td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>
