<p>listteams works!</p>

<div class="container">
    <div class="jumbotron">
        <table class="table">
            <thead>
                <th>teamId</th>
                <th>teamName</th>
            </thead>
            <tbody>
                <tr *ngFor="let t of teamsdata">
                    <td>
                        {{t.teamId}}
                    </td>
                    <td>
                        {{t.teamName}}
                    </td>
                    <td>
                        <a [routerLink] ="['/ListTeam/',t.teamId]">Details</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

